.success{
    padding: 10px;
    color: #00b894;
    margin-bottom: -22px; 
}

.error{
    padding: 10px;
    color: #d63031;
    margin-bottom: -22px; 
}

.py-6{
    padding-bottom: 1rem !important;
    padding-top: 7rem !important;
}

.bg-none{
    background-color: transparent !important;
}

.text{
    width: 100% !important;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0;
    height: 40px;
    padding-left: 10px !important;
    padding-top: 10px !important;
}

.select{
    width: 100%;
    border: 1px solid #e1e1e1 !important;
    border-radius: 0;
    height: 40px;
    padding-left: 10px !important;
}

.book-cover{
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  background-color: #464646;
  filter:grayscale(30%);
}

.book-cover:hover{
  filter:grayscale(0%);
}

.book-cover-shop{
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: #464646;
    filter:grayscale(30%);
  }
  
  .book-cover-shop:hover{
    filter:grayscale(0%);
  }

.book-cover-small{
    width: 100%;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: #464646;
    filter:grayscale(30%);
}

.book-cover-small:hover{
    filter:grayscale(0%);
}

.product.product__style--3 .product__content .prize li {
    margin-right: 0px !important;
}

.telephone{
    font-size: 20px !important;
    font-weight: 600 !important;
    cursor: pointer;
}

.telephone:hover{
    color: #ce7852;
}

#filter{
    background-color: #000;
    color: white;
    text-align: center;
    width: 100%;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px 7px;
}

.user-sidebar li{
    background-color: #e0e0e0;
    margin-bottom: 7px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.user-sidebar li:hover{
    background-color: #ce7852;
    color: #ffffff;
}

.user-sidebar li:hover a{
    color: #ffffff;
}

.profile-name{
    color: #ce7852;
}

.sb{
    border: 5px solid black;
}

.contact-no-input{
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"><text x="5" y="24" class="contact-no-fixed" style="font-family: Arial; font-size: 14px;" >+94 </text></svg>') no-repeat !important;
    padding-left: 36px !important;
    font-family: "Source Sans Pro", Helvetica, sans-serif !important;
}

.contact-no-fixed{
    font-family: "Source Sans Pro", Helvetica, sans-serif !important;
}

.whatsapp{
    background-color:#25d366;
    padding: 5px 10px;
    color: #ffffff;
    border-radius: 5px;
}

.whatsapp:hover{
    color: #ffffff;
    background-color:#14ad4d;
}

.instruction{
    font-size: 12px;
}

.disabled-input{
    background-color: #eeeeee !important;
    color: #404040;
}

.forget_pass{
    cursor: pointer !important;
}

.default-btn {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #333;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 34px;
    padding: 2px 20px 0;
    text-transform: uppercase;
    transition: all 0.4s ease 0s; 
}

.default-btn:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: #ce7852;
    color: #ce7852; 
}

.cat-home{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 60px;
    background-color: #ce7852;
    color: #ffffff;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cat-home:hover{
    background-color: #0f0f0f !important;
}

/* .typeahead .dropdown-item:hover{
    background-color: yellow !important;
}

.typeahead .dropdown-item:active{
    background-color: yellow !important;
} */

.slider-image{
    width: 100%;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    background-color: #464646;
    filter:grayscale(30%);
    padding: 70px;
    margin-top: 90px;
}

.slider-image h3{
    vertical-align: middle;
    color: #fff;
    font-size: 24px;
    font-weight: 400;
    background-color:rgba(206, 120, 82, 0.9);
    padding: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.charity-ruppee{
    color: rgba(206, 120, 82, 1) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
}